@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Poppins:wght@100;300;400&display=swap');

* {
	box-sizing: border-box;
}

body {
    background: linear-gradient(155deg, rgb(5, 0, 90) 8%, rgb(51, 73, 237) 50%, rgb(6, 0, 110) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    font-family: 'Poppins', sans-serif;
	height: 92.2vh;
	margin: 0 0 50px;
}

.logo{
    display: flex;
    color: white;
    margin-top: 10px;
}

.logo h1{
    margin-top: 20px;
    font-size: 42px;
}

.logo a{
    text-decoration: none;
    color: #fff;
}



h2 {
	font-weight: bold;
	margin: 0;

}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

/* span {
	font-size: 12px;
} */

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #0b187f;
	background-color: #130796;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-inline-end: 0px;
}


.span-required{
	font-size: 12px;
	margin: 3px 0 0 1px;
	color: red;
	display: none;
}


form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	display: flex;
}

input {
	background-color: #eee;
	border: none;
	border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}


.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}



.form-container {
	margin-left: 100px;
	transition: all 0.6s ease-in-out;
	display:flex ;
	flex-direction: row;
}

.entrar {
	margin-top: -35%;
	margin-left: 6%;
	width: 530px;
	z-index: 2;

	transform: translateX(0);
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	align-items: start;
	width: 430px;
	right: 10px;
	opacity: 0;
	z-index: 1;
	margin-left: 0;
	margin-top: 30px;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
    background-color: #03085c;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	font-size: 18px;
}

.overlay p{
	font-size: 16px;
	font-weight: 500;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 15px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}