body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background: linear-gradient(80deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgb(85, 130, 242) 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
}

.logo{
    display: flex;
    color: white;
    margin-left: 5%;
}

.logo h1{
    margin-top: 25px;
}

.logo a{
    text-decoration: none;
    color: #fff;
}

.login-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    height: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.567);
    margin: 2% 0 0 38%;
}

.container{
    margin-top: 30px;
}


.container span{
    margin-bottom: 12px;
    display: block;
    font-size: 11px;
}


.login-container h2 {
    margin: 0 0 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    background-color: #007BFF;
    color: #fff;
    margin-top: 5px;
    padding: 15px 90px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.lembrar{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 12px;
margin-bottom: 50px;
color: rgb(11, 11, 11);

}