@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Poppins:wght@100;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {  
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(155deg, rgb(5, 0, 90) 8%, rgb(51, 73, 237) 50%, rgb(6, 0, 110) 100%) no-repeat;
}

/* header */
.header {
    background-color: #e4e6ef;
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: center;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #3349ED;
    margin-left: 3px;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* margin: 0 10% 0 10%;*/
    /* margin: 0 10;*/
    /* margin: 0 10% 0; */
}

.container img {
    width: 75px;
}

/* dash */
.container-dash .dashboard_header{
    display: flex;
    width: 100%; 
    justify-content: space-between;
    padding-right: 3%;
}

/* .container-dash {
    background-color: aqua;
    width: 80%;
    /* display: flex; */
    /* justify-content: ;
    align-items: center;
 */ 


 .dashboard h2{
    margin: 0 0 2% 3%;
    padding-top: 15px;
}

.dashboard_header .btn_analitic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3% 2% 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border-bottom: 1px solid #3b3b3bc0;
    width: 10%;
    height: 35px;
    cursor: pointer;
    gap: 5px;
    
}

.btn_analitic:hover{
    
    background-color:#727272bb;;
    border: 2px solid #3b3b3bc0;
}

.dashboard_header .btn_analitic > a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}


.div_titulos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.div_lista .span {
    display: flex;
    justify-content: space-around;
    color: white;
    border-radius: 20px 10px;
}

.div_icone_titulo .div_situacao_estado h2{
    font-size: 28px;
}