@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Poppins:wght@100;300;400&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F2FC;
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: #E4E6EF;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 7% 0 4%;
}

.container a{
    text-decoration: none;
    color: #3349ED;
    font-size: 20px;
}

.container .logo{
    display: flex;
}

.container img{
    width: 75px;
}

.navbar{
    list-style: none;
    margin-top: 25px;
}

.container h1{
    color: #3349ED;
    margin-top: 25px;
    font-size: 25px;
}

.dashboard{
    margin: 3% 7% 3% 4%;
    background-color: #FFFF;
    border-radius: 18px;
    width: 90%;
}

.dashboard2{
    margin:  3% 7% 3% 4%;
    background-color: #FFFF;
    border-radius: 18px;
    padding-bottom: 3px;
    width: 90%;
}

.dashboard2 h3{
    padding-top: 15px;
    padding-left: 25px;
}

.dashboard2 p{
    font-size: 18px;
}

.dashboard_header{
    display: flex;
    justify-content: space-between;
}

.dashboard_header .select{
    width: 40%;
}

.dashboard_header .select select{
    margin-top: 25px;
    margin-right: 12px;
    width: 25%;
}

.dashboard_header .select button{
    margin-right: 15px;
}

.dashboard h2{
    margin: 0 0 20px 5%;
    padding-top: 30px;
}

.dashboard_container{
   display: flex;  
    height: 40vh;
}
.dashboard_container2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.dashboard_chart_line{
    display: flex;
    width: 50%;
    height: 100%;
    /* width: 100%; */
    margin-left: 3%;
    /* margin-right: 10px;*/
    margin-bottom: 20px; 
    border-radius: 5%;
}

.esfera_ideal{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 2px;
}

.esfera_irregular{
    width: 20px;
    height: 20px;
    background-color: rgb(243, 197, 14);
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 2px;
}

.esfera_critica{
    width: 20px;
    height: 20px;
    background-color: rgb(176, 2, 2);
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 2px;
}

.racks{
    display: flex;
}

.racks p{
    margin-top: -2px;
    margin-left: 8px;
}

.pagination-container {
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 10px 0;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
  
  .pagination-number.active {
    color: #fff;
    background: #3349ED;
  }

  .hidden{
    display: none;
  }

 .modal{
    position: fixed;
    display: none;
    width:70%;
    height:70%;
    left: 15%;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.932);
    border-radius: 15px;
    padding: 25px 25px 4% 25px;
}

 .conteudoModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

 .modal img{
    width: 100px;
 }

 .modal p{
    color: rgb(247, 2, 2);
    font-size: 40px;
    text-align: center;
 }

 .fecharModal{
    background-color: yellow;
    padding: 20px 90px 20px 90px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
 }