body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F2FC;
}

.header{
    background-color: #E4E6EF;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 7% 0 4%;
}

.container .logo{
    display: flex;
}

.container img{
    width: 75px;
}

.navbar{
    list-style: none;
    margin-top: 28px;
}

.container h1{
    color: #3349ED;
    margin-top: 25px;
    font-size: 25px;
}

.dashboard{
    margin: 8% 7% 3% 4%;
    background-color: #FFFF;
    border-radius: 18px;
}

.dashboard h2{
    margin: 0 0 20px 5%;
    padding-top: 30px;
}

.dashboard_container{
   display: flex;   
}

.dashboard_chart_line{
    display: flex;
    width: 50%;
    margin-left: 3%;
    margin-right: 20px;
    border-radius: 5%;
}