@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Poppins:wght@100;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {  
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(155deg, rgb(5, 0, 90) 8%, rgb(51, 73, 237) 50%, rgb(6, 0, 110) 100%) 
    /*no-repeat*/;
    height: 100vh;
    background-color: #ddd9ce;
}


/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; */
    /* background-color: #F0F2FC; */
    /* background-color: #ddd9ce; */
    /* background: linear-gradient(155deg, rgb(5, 0, 90) 8%, rgb(51, 73, 237) 50%, rgb(6, 0, 110) 100%);
    font-family: 'Poppins', sans-serif;
} */

/* cabeçalho */

.header{
    background-color: #ddd9ce;
    display: flex;
    align-items: center;
}

/* barra lateral */
.side-bar i{
    /* display: flex;
     */
    font-size: 24px;
    color: #3349ED;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    position: fixed;
    background-color: #E4E6EF;
    box-shadow: 3px 0 0 #0f0f0f;
    animation: abrir 1s;
}

 @keyframes abrir{
    from{
        transform: translateX(-230px)
    } 
    to{
        transform: translateX(0px);
    }
}
/* 

@keyframes fechar{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-230px);
    }
} */

/* conteudo barra lateral */

.container_sidebar{
    display: flex;
}

.container_sidebar span{
    font-size: 25px;
    color: #000000;
    margin: 15px 10px 0 15px;
    cursor: pointer;
}

.container_sidebar h1{
    color: #3349ED;
    margin-top: 20px;
    font-size: 23px;
}

.container_sidebar .logo{
    display: flex;
    width: 30px;
}

.container_sidebar img{
    width: 45px;
}

.sidebar{
    /* margin-top: 30px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 75%;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil .img_perfil{
    /* display: flex;
     justify-content: center  */
    align-items: center;
    display: flex;
    width: 180px;
    height: 180px;
    margin-top: 20px;
}

.perfil .img_perfil img {
    width: 100%;
    height: 100%;
    border: 2px solid #00000077;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 
    0px 5px 15px;
    /* object-fit: cover; */
}

.perfil span{
    margin-top: 10px;
    font-size: 20px;
}

.link_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 15%;
}

.link_part .link{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* margin-bottom: 40px; */
    font-size: 20px;
    width: 230px;
    transition: .2s;
    height: 50px;
    padding: 0 16px;
}

.link_part .link img{
    width: 30px;
}

.link_part .link a{
    text-decoration: none;
    color: #3349ED;
    width: 100%;
    /* height: 100%;
    margin-top: 20px; */
}

.link_part .link:hover{
    background-color: #3349ED;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.link_part .link > a:hover{
    color: #ffffff;
}

/* conteudo do cabeçalho */

.container{
    display: flex;
    justify-content: space-between;
    /* margin: 0 2% 0 4%; */
}

.container h1{
    color: #3349ED;
    margin-top: 20px;
    font-size: 25px;
    /* visibility: visible; */
}

.container a{
    text-decoration: none;
    color: #3349ED;
    font-size: 20px;
}

.container .logo{
    display: flex;
}

.container img{
    width: 75px;
}

.container span{
    font-size: 30px;
    color: #3349ED;
    margin: 13px 15px 0 15px;
    cursor: pointer;
}

/* conteudo do cabeçalho - filtro */
/* 
.select{
    display: flex;
    align-items: center;
    margin-left: 30%;
    width: 100%;
        border-left: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-radius: 15px; 
    padding: 0 20px 5px;
}

.select .box{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}


.select .box select{
     margin-top: 25px; 
    margin-right: 10px;
    width: 90%;
    height: 23px;
    border-radius: 5px;
    box-shadow: 3px 2px 10px -1px rgba(26,26,26,1);
}

.select .btn_filter{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    width: 38%;
    height: 38%;
     margin-right: 15px; 
     border-radius: 20%; 
     border: 1px solid #000000; 
}

.select .btn_filter img{
    width: 50px;
    cursor: pointer;
} */ 

/* conteudo da pagina */
/* Primeiro quadro */

.dashboard{
    display: flex; 
     align-self: center;
     justify-content: center;
     flex-direction: column;
    /* padding: 15px; */
    /* margin: 3% 2% 0% 2%; */
    background-color: #ddd9ce;;
    border-radius: 18px;
    width: 94%;
}

/* configuração tres quadros */
.dashboard_chart_line{
    display: flex;
    width: 49%;
    height: 100%;
    /* width: 100%; */
    /* margin-left: 2%; */
    /* margin-right: 10px;*/
    /* margin-bottom: 20px;  */
    border-radius: 5px;
    box-shadow: 0px 0px 11px -1px rgba(26,26,26,1);
}

/* configuração da tabela legenda */
.legend{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 55%;
    margin-bottom: 10px; 
    border-radius: 5px;
    box-shadow: 0px 0px 11px -1px rgba(26,26,26,1);
    padding: 0 10px;
}


.tabela{
    border-spacing: 0px;
    margin-right: 23px;
    padding-right: 13px;
    font-size: 13.5px;
}

 th, td{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-collapse: collapse;
    padding: 0 7px;
}

.red {
    color: red;
}

.yellow{
    color: rgb(180, 180, 2);
}

.green{
    color: green;
}

.orange{
    color: rgb(255, 166, 0);
}

.blue{
    color: rgb(16, 184, 214)
}

/* titulo primeiro quadro */

.dash{
    display: flex;
    align-items: center;
    background-color: #ddd9ce;
    flex-direction: column;
    align-content: space-between;
    margin: 3% 2% 0% 2%;
    border-radius: 18px;
   
    /* padding: 15px;
    margin: 3% 2% 0% 2%;
    border-radius: 18px;
    width: 94%; */
}

/* .dashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
} */

.dashboard_header{
    display: flex; 
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFFF;
    border-radius: 10px;
    /* display: flex;
    width: 100%; 
    justify-content: space-between; */
    /* padding-right: 3%; */
} 

/* .dashboard h2{
    /* display: flex;
    height: 90%; */
    
    /* margin: 0 0 2% 3%; */
    /* padding-top: 15px; */


.btn_analitic{
    display: flex;
    align-items: center;
    
    /* margin: 0 3% 2% 0; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* border-radius: 10px;
    border-bottom: 1px solid #3b3b3bc0; */
    /* width: 3%; */
    /* height: 35px; */
    cursor: pointer;
    gap: 5px;

    
}

.btn_analitic:hover{
    
    background-color:#727272bb;;
    border: 2px solid #3b3b3bc0;
}

.dashboard_header .btn_analitic > a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}


/* margin: 0 0 2% 3%;
    padding-top: 15px; */

/* Dois primeiros graficos */

.dashboard_container{
   display: flex;  
    height: 47vh;
    gap: 25px;
}

/* Terceiro grafico */
.dashboard_container2{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47vh;
    gap: 10px;
}


/* segundo quadro */

.dashboard2{
    margin:  3% 7% 3% 2%;
    background-color: #FFFF;
    border-radius: 18px;
    padding-bottom: 3px;
    width: 95%;
}

/* titulo segundo quadro */

.dashboard2 h3{
    padding-top: 15px;
    padding-left: 25px;
}

.dashboard2 p{
    font-size: 18px;
}

/* conteudo segundo quadro */

.racks{
    display: flex;
}

.racks p{
    margin-top: -2px;
    margin-left: 8px;
}

/* Bolinhas sensores */

.esfera_ideal{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 2px;
}

.esfera_irregular{
    width: 20px;
    height: 20px;
    background-color: rgb(243, 197, 14);
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 2px;
}

.esfera_critica{
    width: 20px;
    height: 20px;
    background-color: rgb(176, 2, 2);
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 2px;
}

.esfera_umidade_ideal{
    width: 24px;
    height: 24px;
    background-image: url(./scr/gota-de-agua.png);
    border-radius: 50%;
    margin-left: 22px;
    /* margin-top: 0px; */
}

.esfera_umidade_alerta{
    width: 24px;
    height: 24px;
    background-image: url(./scr/gota-de-agua-alerta.png);
    border-radius: 50%;
    margin-left: 22px;
    /* margin-top: 2px; */
}

.esfera_umidade_emergencia{
    width: 24px;
    height: 24px;
    background-image: url(./scr/gota-de-agua-emer.png);
    border-radius: 50%;
    margin-left: 22px;
    /* margin-top: 2px; */
}
.esfera_umidade_critico{
    width: 24px;
    height: 24px;
    background-image: url(./scr/gota-de-agua-critica.png);
    border-radius: 50%;
    margin-left: 22px;
    /* margin-top: 2px; */
}

/* paginação */

.pagination-container {
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 10px 0;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
  
  .pagination-number.active {
    color: #fff;
    background: #3349ED;
  }

  .hidden{
    display: none;
  }

 /* .modal{
    position: fixed;
    display: none;
    width:70%;
    height:70%;
    left: 15%;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.932);
    border-radius: 15px;
    padding: 25px 25px 4% 25px;
}

 .conteudoModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

 .modal img{
    width: 100px;
 }

 .modal p{
    color: rgb(247, 2, 2);
    font-size: 40px;
    text-align: center;
 }

 .fecharModal{
    background-color: yellow;
    padding: 20px 90px 20px 90px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
 } */