@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Poppins:wght@100;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {  
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(155deg, rgb(5, 0, 90) 8%, rgb(51, 73, 237) 50%, rgb(6, 0, 110) 100%) 
    /*no-repeat*/;
    height: 100vh;
    background-color: #ddd9ce;
}

/* cabeçalho */

.header{
    background-color: #ddd9ce;
    display: flex;
    align-items: center;
    height: 8vh;
}

/* barra lateral */
.side-bar i{
    margin: 15px 80px 0 0px;
    font-size: 24px;
    color: #3349ED;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    position: fixed;
    background-color: #E4E6EF;
    box-shadow: 3px 0 0 #0f0f0f;
    animation: abrir 1s;
}

 @keyframes abrir{
    from{
        transform: translateX(-230px)
    } 
    to{
        transform: translateX(0px);
    }
}
/* 

@keyframes fechar{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-230px);
    }
} */

/* conteudo barra lateral */

.container_sidebar{
    display: flex;
}

.container_sidebar span{
    font-size: 25px;
    color: #000000;
    margin: 15px 10px 0 15px;
    cursor: pointer;
}

.container_sidebar h1{
    color: #3349ED;
    margin-top: 20px;
    font-size: 23px;
}

.container_sidebar .logo{
    display: flex;
    width: 30px;
}

.container_sidebar img{
    width: 45px;
}

.sidebar{
    /* margin-top: 30px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 75%;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil .img_perfil{
    /* display: flex;
     justify-content: center  */
    align-items: center;
    display: flex;
    width: 180px;
    height: 180px;
    margin-top: 20px;
}

.perfil .img_perfil img {
    width: 100%;
    height: 100%;
    border: 2px solid #00000077;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 
    0px 5px 15px;
    /* object-fit: cover; */
}

.perfil span{
    margin-top: 10px;
    font-size: 20px;
}

.link_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 15%;
}

.link_part .link{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* margin-bottom: 40px; */
    font-size: 20px;
    width: 230px;
    transition: .2s;
    height: 50px;
    padding: 0 16px;
}

.link_part .link img{
    width: 30px;
}

.link_part .link a{
    text-decoration: none;
    color: #3349ED;
    width: 100%;
    /* height: 100%;
    margin-top: 20px; */
}

.link_part .link:hover{
    background-color: #3349ED;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.link_part .link > a:hover{
    color: #ffffff;
}

/* conteudo do cabeçalho */
.container{
    display: flex;
    justify-content: space-between;
    /* margin: 0 2% 0 4%; */
}

.container h1{
    color: #3349ED;
    margin-top: 20px;
    font-size: 25px;
    /* visibility: visible; */
}

/* .container a{
    text-decoration: none;
    color: #3349ED;
    font-size: 20px;
} */

.container .logo{
    display: flex;
}

.container img{
    width: 45px;
}

/* .container span{
    font-size: 30px;
    color: #3349ED;
    margin: 13px 15px 0 15px;
    cursor: pointer;
} */

/* tela inicial: salas - situação */
.div_desc {
    color: white;
    display: flex;
    margin: 2% 0 0 5%;
    font-size: 18px;
}

.dashboard{
    display: flex;
    align-items: center;
    background-color: #ddd9ce;
    flex-direction: column;
    align-content: space-between;
    margin: 1% 4% 0 4%;
    padding: 1.5% 0 0 30px;
    border-radius: 35px 35px 0 0;
    height: 78.5vh;
}

.dashboard_titulo {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #FFFF;
    border-radius: 10px;
    margin-bottom: 10px;
    /* display: flex;
    width: 100%; 
    justify-content: space-between; */
    /* padding-right: 3%; */
} 

.dashboard .dash_lista{
    display: block;
    flex-direction: column;
    height: 70.2vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.dash_lista::-webkit-scrollbar {
    width: 9px;
}
  
.dash_lista::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
  }
  
.dash_lista::-webkit-scrollbar-thumb {
    background: #3349ED;
    border-radius: 20px;
  }

.div_salas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98.5%;
    height: 9vh;
    border-radius: 15px 15px 7px 7px;
    cursor: pointer;
    margin-bottom: 10px;
} 

.btn_salas, .situacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    font-size: 20px;
    font-weight: 500;
}

.btn_salas {
    /* font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; */
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    outline-style: none;
    width: 44%;
}

/* Adiciona um estilo adicional quando o botão está ativo (clicado) */
/* .btn_salas:active {
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
    
} */

.btn_salas img{
    width: 45px;
}


/* exibição das salas */
.div_desc_sala {
    color: white;
    display: none;
    margin: 0 0 1% 0;
    font-size: 18px;
    width: 100%;
    justify-content: space-around;
}

.dashboard_sala{
    display: none;
    align-items: center;
    background-color: #ddd9ce;
    flex-direction: column;
    align-content: space-between;
    margin: 1% 4% 0 4%;
    padding: 1.5% 0 0 30px;
    border-radius: 35px 35px 0 0;
    height: 78.5vh;
}

/* graficos sala - inicio */
/* junção grafico e tabela */
.dash_sala {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
    margin: 20px;
}

.div_desc_rack {
    color: white;
    display: none;
    margin: 0 0 1% 0;
    font-size: 18px;
    width: 100%;
    justify-content: space-around;
}

/* grafico mediçoes */
.grafico_chart_line{
    display: flex;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 11px -1px rgba(26,26,26,1);
}

/* junção tabela de consumo com tabela de medias */
/* .dash_sala2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

/* div consumo energia */
/* .consumo_energia {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%; */
    /* width: 95%; */
    /* margin: 30px;  */
    /* border-radius: 5px;
    box-shadow: 0px 0px 11px -1px rgba(26,26,26,1);
} */

/* tabela de medidas */
.tab_medidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 50%; */
    
}

/*tabela legenda */
.legend{
    display: flex;
    flex-direction: column;
    /* width: 95%;
    height: 55%; */
    /* margin-bottom: 10px;  */
    border-radius: 5px;
    box-shadow: 0px 0px 11px -1px rgba(26,26,26,1);
    background-color: white;
    /* padding: 0 10px; */
    text-indent: 30px;
}

.tabela{
    border-spacing: 0px;
    margin-top: 10px;
    /* margin-right: 23px;
    padding-right: 13px; */
    font-size: 13.5px;
    height: 100px;
}

 th, td{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-collapse: collapse;
    padding: 0 7px;
}

.red {
    color: red;
}

.yellow{
    color: rgb(180, 180, 2);
}

.green{
    color: green;
}

.orange{
    color: rgb(255, 166, 0);
}

.blue{
    color: rgb(16, 184, 214)
}
/* graficos sala - fim */

/* racks */
.rack_titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #FFFF;
    border-radius: 20px;
    margin: 20px 0 10px 0;
}

.div_rack {
    width: 100%;
    height: 60vh;
}

.lista_rack{
    display: block;
    flex-direction: column;
    height: 45vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.lista_rack::-webkit-scrollbar {
    width: 9px;
}
  
.lista_rack::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
  }
  
.lista_rack::-webkit-scrollbar-thumb {
    background: #3349ED;
    border-radius: 20px;
  }


/* tela: racks */


.dashboard_rack {
    display: none;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: #ddd9ce;
    /* margin-top: 20px; */
    border-radius: 18px;
    height: 90vh;
    margin: 20px;   
}

.dashboard_rack .titulo_rack {
    /* color: #FFFF; */
    background-color: rgb(177, 29, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-radius: 10PX 10px 0 0;
    /* width: 100%; */
    color: #fff;
    padding: 0 50px;
}

.dashboard_rack .titulo_rack .temp_umid {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.graficos_direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    gap: 8px;
    height: 100%;
}

.dashboard_chart_line{
    display: flex;
    width: 100%;
    height: 36.5vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -1px rgba(26,26,26,1);
}

.rack_esquerda .alerta_situacao{
    display: flex;
    flex-direction: row-reverse;
    /* align-self: self-end; */
    width: 100%;
    gap: 20px;
}

.alerta_rack {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: rgb(176, 2, 2);
    border-radius: 8px;
    gap: 30px;    
}

/* .alerta_juncao {
    display: flex;
    justify-content: space-around;
    width: 40%;
    background-color: rgb(176, 2, 2);
    border-radius: 15px;
} */

.dashboard2{
    display: flex;
    width: 100%;
    /* margin:  3% 7% 3% 2%; */
    background-color:  gray;
    border-radius: 18px;
    padding-bottom: 3px;
    /* width: 95%; */
}

/* Bolinhas sensores */

.esfera_ideal{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 2px;
}

.esfera_irregular{
    width: 20px;
    height: 20px;
    background-color: rgb(243, 197, 14);
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 2px;
}

.esfera_critica{
    width: 20px;
    height: 20px;
    background-color: rgb(176, 2, 2);
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 2px;
}

.esfera_umidade_ideal{
    width: 24px;
    height: 24px;
    background-image: url(./scr/gota-de-agua.png);
    border-radius: 50%;
    margin-left: 22px;
    /* margin-top: 0px; */
}

.esfera_umidade_alerta{
    width: 24px;
    height: 24px;
    background-image: url(./scr/gota-de-agua-alerta.png);
    border-radius: 50%;
    margin-left: 22px;
    /* margin-top: 2px; */
}

.esfera_umidade_emergencia{
    width: 24px;
    height: 24px;
    background-image: url(./scr/gota-de-agua-emer.png);
    border-radius: 50%;
    margin-left: 22px;
    /* margin-top: 2px; */
}
.esfera_umidade_critico{
    width: 24px;
    height: 24px;
    background-image: url(./scr/gota-de-agua-critica.png);
    border-radius: 50%;
    margin-left: 22px;
    /* margin-top: 2px; */
}

.pagination {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}

.racks{
    display: flex;
    border-radius: 15px;
}

.racks p{
    margin-top: -2px;
    margin-left: 8px;
}

.rack_esquerda {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 20px;
}

#centroDiv{
    display: flex;
    /* flex-direction: row; */
    gap: 25px;
    /* margin-top: 20px; */
    /* justify-content: center; */
    margin: 15px;
}
