body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}


input{
    width: 60%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    margin-top: 5px;
}

.header {
    background-color: #e4e6ef;
}

.container_header {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
   /* margin: 0 10% 0 10%;*/
   /* margin: 0 10;*/
   /* margin: 0 10% 0; */
}

.container_header img{
        width: 75px;
}

.logo{
    display: flex;
}

.logo h1 {
    color: #3349ED;
    margin-top: 22px;
    margin-left: 3px;
    font-size: 25px;
}


.navbar {
    display: flex;
    list-style: none;
    margin-top: 25px;
}

.navbar a{
   margin-right: 12px;
   text-decoration: none;
   color: #3349ED;
   font-size: 20px;
}

.navbar a:hover{
    color: #76004a;
    transition: 0.5s;
}
/* Conteudo da pagina*/

.content{
    display: block;
    height: auto;
    background: linear-gradient(155deg, rgba(2,0,36,1) 8%, rgb(51, 73, 237) 50%, rgba(2,0,36,1) 100%);
}

.describe{
    color: #e4e6ef;
    width: 80%;
    font-size: 18px;
    text-align: center;
    padding: 5% 0 0 10%;
}

.describe h1{
    margin: 0;
    font-size: 25px;
}

.describe p{
    margin-bottom: 0;
}

.describe img{
    width: 150px;
    margin-left: 320px;
}

.link-planos{
    display: flex;
}

.link-planos a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.link-planos h3{
    margin-top: 30px;
    margin-left: -60px;
    color: white;
    font-size: 16px;
}

.calculator{
    background-color: #000000b4;
    color: #fff;
    width: 75%;
    border-radius: 10px;
    border: 2px solid #00eeff;
    margin-top: 2%;
    padding: 15px 10px 0 10px;
    box-shadow: 10px 10px 5px 1px rgba(0, 238, 255, 0.096);
}

.parte1{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 65%;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.inputs p{
    font-weight: 500;
}

.box{
    display: flex;
    column-gap: 10px;
    border-bottom: 2px solid #8385ff;
}

.box-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    /* row-gap: 10px; */
}

.btn{
    background-color: #3349ED;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 15px;
    margin-left: 70%;
}

