@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Poppins:wght@100;300;400&display=swap');


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}


input{
    width: 60%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    margin-top: 5px;
}

.header {
    background-color: #e4e6ef;
}

.container_header {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
   /* margin: 0 10% 0 10%;*/
   /* margin: 0 10;*/
   /* margin: 0 10% 0; */
}

.container_header img{
        width: 75px;
}

.logo{
    display: flex;
}

.logo h1 {
    color: #3349ED;
    margin-top: 22px;
    margin-left: 3px;
    font-size: 25px;
}


.navbar {
    display: flex;
    list-style: none;
    margin-top: 25px;
}

.navbar a{
   margin-right: 16px;
   text-decoration: none;
   color: #3349ED;
   font-size: 20px;
}

.navbar a:hover{
    color: #76004a;
    transition: 0.5s;
}
/* Conteudo da pagina*/

.content{
    padding-top: 5%;
    padding-bottom: 3%;
    display: block;
    height: auto;
    background: linear-gradient(155deg, rgb(5, 0, 90) 8%, rgb(51, 73, 237) 50%, rgb(6, 0, 110) 100%);
}

.describe{
    color: #ffffff;
    width: 80%;
    font-size: 18px;
    text-align: center;
    padding: 5% 0 0 10%;
}

.describe h2{
    margin: 0;
    font-size: 25px;
}

.describe p{
    margin-bottom: 0;
}

.describe img{
    width: 150px;
    /* margin-left: 320px; */
}

.link-planos{
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.link-planos a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.link-planos h3{
    margin-top: 27px;
    margin-left: -60px;
    color: white;
    font-size: 16px;
}

.calculator{
    color: #fff;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid #00eeff;
    margin-top: 2%;
    margin-left: -100px;
    padding: 15px 10px 0 10px;
}

.calculator_container{
    background-color: #000000b4;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.347);
    margin: 5% 7% 0 7%;
    border-radius: 20px;
}

.parte1{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 65%;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.inputs p{
    font-weight: 500;
}

.box{
    display: flex;
    column-gap: 10px;
    border-bottom: 2px solid #8385ff;
}

.box-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    /* row-gap: 10px; */
}

.btn{
    background-color: #3349ED;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 15px;
    margin-left: 70%;
}

.planos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 5%;
    width: 90%;
    height: auto;
    color: white;
}

#planos{
    color: white;
    font-size: 34px;
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
}

.card{
    background-color: #000000b4;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.347);
    border-radius: 15px;
    width: 20%;
    height: 500px;
    text-align: center;
    padding: 10px 0 25px 0;
    transition: transform 0.5s;
}

.card:hover{
    transform: scale(1.050);
}

.card .card_title{
    padding: 5px 20px;
    border-bottom: 0.5px solid #00eeff;
}

.card .card_title h2{
    font-size: 28px;
}

.card .card_title p{
    font-size: 18px;
    padding: 0 5px;
}

.card .card_title p i{
    margin-right: 5px;
}

.card .card_content ul{
    padding: 10px 30px;
    padding-bottom: 2%;

}

.card .card_content ul li{
    font-size: 16px;
    list-style: none;
    padding: 10px 0;
}

.card .card_content ul li i{
    margin-right: 9px;
}

.card .card_content button{
    width: 60%;
    font-size: 16px;
    background-color: #3349ED;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
}

.nossa-solucao{
    height: 300px;
    background-color: #000000b4;
    color: white;
    margin: 0 7%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.347);
    padding: 2px 70px 0 70px;
}

.nossa-solucao h1{
    font-size: 30px;
    text-align: center;
}

.nossa-solucao p{
    font-size: 18px;
    text-align: justify;
}
